@import '../../App.css';

/* Адаптация для экранов выше 1920px */
.Consultation {
    .Consultation__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1660px;
        margin: 0 auto;
        .Consultation__container {
            width: 100%;
            height: 100%;
            .Consultation__content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image: url('../../assets/background/background.png');
                background: radial-gradient(circle, rgba(49, 49, 46, 0), rgba(49, 49, 46, 1));
                border-radius: 3.5rem;
                padding: 4.9375rem 10.3125rem;
                .Consultation__title {
                    color: var(--color-gold);
                    margin-bottom: 2rem;
                }
                .Consultation__form {
                    width: 100%;
                    // max-width: 664px;
                    max-width: 41.5rem;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 1rem;
                    margin-bottom: 1.125rem;
                    color: var(--color-light-gray);
                    .input-form,
                    .Consultation__btn-consultation {
                        width: 100%;
                        padding: 1.375rem 1rem;
                        background-color: var(--color-middle-gray);
                        outline: 1px solid rgba(255, 255, 255, 0.32);
                        color: var(--color-light-gray);
                        font-size: 1rem;
                        cursor: pointer;
                        &:focus {
                            outline: 1px solid rgba(255, 255, 255, 0.32);
                        }
                    }
                    .Consultation__btn-consultation {
                        border: 0;
                        background-color: var(--color-gold);
                        color: var(--color-white);
                        font-size: 1.25rem;
                    }
                    
                }
                .Consultation__privacy-policy {
                    text-align: center;
                    font-size: 0.78125rem;
                    color: rgba(65, 65, 63, 1);
                }
            }
        }
    }
}