@import '../../App.css';

/* Адаптация для экранов выше 1920px */
.About {
    .About__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1128px;
        margin: 0 auto;
        .About__container {
            width: 100%;
            height: 100%;
            padding: 96px 56px 82px 118px;
            background-color: var(--color-middle-gray);
            border-radius: var(--border-radius);
            .About__Content {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;

                .content-left {
                    margin-right: 80px;
                    .content-left-cirle {
                        position: relative;
                        width: 272px;
                        height: 272px;
                        background: linear-gradient(168.47deg, #DCA45C 10.95%, #21211F 87.93%);
                        border-radius: 1000px;
                        .content-left-statue {
                            // border: 1px solid yellow;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translate(0%,-22%);
                            z-index: 100;
                        }
                    }
                }
                
                .content-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    .title {
                        margin-bottom: 24px;
                    }
                    .description {
                        letter-spacing: -0.01em;
                    }
                }

            }
        }
    }
}

/* Адаптация для экранов от 1440px до 1920px */
@media (max-width: 1919.98px) {
    .About {
        .About__wrapper {
            max-width: 100vw;
            .About__container {
                .About__Content {
                    max-width: 80vw;
                    .content-left {
                        .content-left-cirle {
                            .content-left-statue {

                            }
                        }
                    }
                    .content-right {
                        .title {

                        }
                        .description {

                        }
                    }
                }
            }
        }
    }
}