@import '../../App.css';

/* Адаптация для экранов от 1920px и выше */
.Navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--color-dark-gray);
    .Navbar__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        .Navbar__container {
            width: 100%;
            height: 100%;
            padding: 0.875rem 0;
            
            .Navbar__content {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .desktop {
                    display: block;
                }
                .Navbar__content-desktop {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .content-left {
                        .Navbar__img-wrapper {
                            .Navbar__img {

                            }
                        }
                    }
                    .content-right {
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: start;
                        gap: 2.75rem;
                        .Navbar__group {
                            display: flex;
                            justify-content: start;
                            align-items: start;
                            :nth-child(n):not(:last-child) {
                                margin-right: 1.2rem;
                            }
                            .Navbar__item {
                                font-size: 1.125rem;
                                letter-spacing: -0.01em;
                                cursor: pointer;
                            }
                        }
                        .Navbar__phone-group {
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            align-items: end;
                            .Navbar__phone {
                                font-size: 1.125rem;
                                letter-spacing: -0.01em;
                                color: var(--color-gold);
                            }
                            .Navbar__work-schedule {
                                font-size: 1rem;
                                letter-spacing: -0.01em;
                                color: rgba(255, 255, 255, 0.56);
                            }
                        }
                    }
                }

                .mobile {
                    display: none;
                }
                .Navbar__content-mobile {
                    display: none;
                    .content-left {
                        .Navbar__img-wrapper {
                            .Navbar__img {

                            }
                        }
                    }
                    .content-right {

                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 1440px до 1920px */
@media (max-width: 1920px) {
    .Navbar {
        .Navbar__wrapper {
            width: 90%;
        }
    }
}

/* Адаптация для экранов от 1366px до 1440px */
@media (max-width: 1440px) {
    .Navbar {
        .Navbar__wrapper {
            width: 90%;
        }
    }
}

/* Адаптация для экранов от 1280px до 1366px */
@media (max-width: 1366px) {
    .Navbar {
        .Navbar__wrapper {
            width: 90%;
            .Navbar__container {
                padding: 0.75rem 0;
                .Navbar__content {

                    .Navbar__content-desktop {
                        .content-left {
                            
                        }
                        .content-right {
                            .Navbar__group {
                                
                                .Navbar__item {
                                    font-size: 1rem;
                                }
                            }
                            .Navbar__phone-group {
                                .Navbar__phone {
                                    font-size: 0.875rem;
                                }
                                .Navbar__work-schedule {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 1024px до 1280px */
@media (max-width: 1280px) {
    .Navbar {
        .Navbar__wrapper {
            width: 95%;
        }
    }
}

/* Адаптация для экранов от 768px до 1024px */
@media (max-width: 1024px) {
    .Navbar {
        .Navbar__wrapper {
            max-width: 100%;
            padding: 0 1rem;
            .Navbar__container {
                margin: 0 auto;
                .Navbar__content {
                    width: 100%;

                    .desktop {
                        display: none;
                    }
                    .Navbar__content-desktop {

                    }
                    .mobile {
                        display: block;
                    }
                    .Navbar__content-mobile {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .Navbar__img-wrapper {
                            width: 48px;
                            height: 48px;
                            .Navbar__img {
                                width: 100%;
                                height: 100%;
                            }
                        } 
                        .Navbar__phone-group {
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: flex-end;
                            gap: 2px;
                            .Navbar__phone {
                                font-size: 1rem;
                                letter-spacing: -0.01em;
                                color: var(--color-gold);
                            }
                            .Navbar__work-schedule {
                                letter-spacing: -0.01em;
                                color: rgba(255, 255, 255, 0.56);
                                font-size: 0.875rem;
                            }
                        }
                        .Navbar__burger {
                            width: 48px;
                            height: 48px;
                            border: 1px solid var(--color-white);
                            border-radius: 1000px;
                            cursor: pointer;
                            .Navbar__burger-text {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 0.75rem;
                                font-weight: 400;
                            }
                        }
                        .Navbar__burger-content {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            gap: 0.5rem;
                            padding: 1rem;

                            position: fixed;
                            top: 0;
                            right: 0;
                            height: 100vh;
                            top: 0;
                            right: 0;

                            z-index: 2000;
                            background-color: var(--color-dark-gray);
                            color: var(--color-light-gray);
                            border: 1px solid var(--border-color);

                            width: 35vw;
                            opacity: 0;
                            transform: translateX(100%);
                            transition: 
                                opacity 0.3s ease-out, 
                                transform 0.3s ease-out;

                            .Navbar__group {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                :nth-child(n):not(:last-child) {
                                    margin-bottom: 0.5rem;
                                }
                                .Navbar__item {
                                    width: 100%;
                                    font-size: 1.125rem;
                                    letter-spacing: -0.01em;
                                    transition: color 0.3s ease-out;
                                    cursor: pointer;
                                    &:hover {
                                        color: var(--color-white);
                                    }
                                }
                            }
                            .Navbar__cross-icon-wrapper {
                                transition: color 0.3s ease-out;
                                cursor: pointer;
                                &:hover {
                                    color: var(--color-white);
                                }
                                .Navbar__cross-icon {

                                }
                            }
                        }
                        .active {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                        .Navbar__overlay {
                            position: fixed;
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.5); // полупрозрачный черный
                            z-index: 1500;
                            backdrop-filter: blur(2px);
                        }
                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 576px до 768px */
@media (max-width: 768px) {
    .Navbar {
        .Navbar__wrapper {
            max-width: 100%;
            padding: 0 1rem;
            .Navbar__container {
                margin: 0 auto;
                .Navbar__content {
                    width: 100%;

                    .Navbar__content-mobile {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .Navbar__img-wrapper {
                            width: 48px;
                            height: 48px;
                            .Navbar__img {
                                width: 100%;
                                height: 100%;
                            }
                        } 
                        .Navbar__phone-group {
                            .Navbar__phone {
                                font-size: 1.25rem;
                                letter-spacing: -0.01em;
                                color: var(--color-gold);
                            }
                            .Navbar__work-schedule {
                                font-size: 1.125rem;
                                letter-spacing: -0.01em;
                                color: rgba(255, 255, 255, 0.56);
                            }
                        }
                        .Navbar__burger {
                            width: 56px;
                            height: 56px;
                            border: 1px solid var(--color-white);
                            border-radius: 1000px;
                            cursor: pointer;
                            .Navbar__burger-text {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 0.875rem;
                                font-weight: 400;
                            }
                        }
                        .Navbar__burger-content {
                            .Navbar__group {
                                .Navbar__item {
                                    font-size: 1rem;
                                }
                            }
                        }
                        .active {

                        }
                        .Navbar__overlay {

                        }
                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 320px до 576px */
@media (max-width: 576px) {
    .Navbar {
        .Navbar__wrapper {
            max-width: 100%;
            padding: 0 1rem;
            .Navbar__container {
                margin: 0 auto;
                .Navbar__content {
                    width: 100%;

                    .Navbar__content-mobile {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .Navbar__img-wrapper {
                            width: 36px;
                            height: 36px;
                            .Navbar__img {
                                width: 100%;
                                height: 100%;
                            }
                        } 
                        .Navbar__phone-group {
                            .Navbar__phone {
                                font-size: 0.9rem;
                                letter-spacing: -0.01em;
                                color: var(--color-gold);
                            }
                            .Navbar__work-schedule {
                                font-size: 0.8rem;
                            }
                        }
                        .Navbar__burger {
                            width: 38px;
                            height: 38px;
                            border: 1px solid var(--color-white);
                            border-radius: 1000px;
                            cursor: pointer;
                            .Navbar__burger-text {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 0.65rem;
                                font-weight: 400;
                            }
                        }
                        .Navbar__burger-content {
                            width: 50vw;
                            padding: 0.5rem 0.3rem 0.5rem 0.5rem;
                            .Navbar__group {
                                .Navbar__item {
                                    font-size: 0.9rem;
                                }
                            }
                            .Navbar__cross-icon-wrapper {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 16px;
                                height: 16px;
                                transition: color 0.3s ease-out;
                                cursor: pointer;
                                &:hover {
                                    color: var(--color-white);
                                }
                                .Navbar__cross-icon {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .active {

                        }
                        .Navbar__overlay {

                        }
                    }
                }
            }
        }
    }
}