* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

/* Основное начертание (normal) */
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-VariableFont.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;   /* Не блокирует загрузку страницы */
}

/* Курсивное начертание (italic) */
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Italic-VariableFont.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
    /* colors */
    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: #1D1D1B;
    --color-middle-gray: rgba(49, 49, 46, 1);
    --color-light-gray: #B0B0B0;
    --color-gold: #D7A96D;
    --color-indigo: #0080FF;

    --border-color: rgba(65, 65, 63, 1);
    --border-radius: 64px;
    --transition: all 0.3s ease-out
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 20px;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.App {
  position: relative;
}

/* Адаптация для экранов от 1440px до 1920px */
h1 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--color-gold);
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--color-white);
}

section {
  width: 100%;
  margin-bottom: 3.5rem;
}