@import '../../App.css';

/* Адаптация для экранов выше 1920px */
.Banner {
    position: relative;
    border-bottom: 1px solid rgba(65, 65, 63, 1);
    .Banner__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        .Banner__container {
            width: 100%;
            height: 100%;
            padding: 7.5rem 0;
            .Banner__Content {
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1.25rem;
                .content-left {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .description {
                        font-size: 1.125rem;
                        margin-bottom: 1.5rem;
                        color: var(--color-gold);
                        letter-spacing: -0.01em;
                        text-transform: uppercase;
                    }
                    .title {
                        max-width: 840px;
                        font-size: 4rem;
                        margin-bottom: 3.5rem;
                        line-height: 1;
                    }
                    .cta {
                        padding: 1.75rem 3.625rem;
                        background-color: var(--color-gold);
                        cursor: pointer;
                    }
                }

                .content-right {
                    .main-img-wrapper {
                        position: relative;
                        max-width: 546px;
                        aspect-ratio: 546/720;
                        object-fit: cover;
                        overflow: hidden;
                        .main-img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .main-img-wrapper::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        inset: 0;
                        z-index: 100;
                        background: 
                            linear-gradient(to bottom, rgba(0,0,0,0) 80%, #1D1D1B 100%),
                            linear-gradient(to right, rgba(0,0,0,0) 85%, #1D1D1B 100%),
                            linear-gradient(to left, rgba(0,0,0,0) 95%, #1D1D1B 100%)
                        ;
                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 1440px до 1920px */
@media (max-width: 1919.98px) {
    .Banner {
        .Banner__wrapper {
            max-width: 90%;
            .Banner__container {
                padding: 5.5rem 0;
                .Banner__Content {
                    gap: 1rem;
                }
            }
        }
    }
}

/* Адаптация для экранов от 1366px до 1440px */
@media (max-width: 1439.98px) {
    .Banner {
        .Banner__wrapper {
            max-width: 90%;
            .Banner__container {
                padding: 3.25rem 0;
                .Banner__Content {
                    gap: 1rem;
                    .content-left {
                        .description {
                            margin-bottom: 1rem;
                            font-size: 1rem;
                        }
                        .title {
                            max-width: 680px;
                            font-size: 3.5rem;
                            line-height: 1;
                            margin-bottom: 2rem;
                        }
                        .cta {
                            padding: 1.5rem 3.125rem;
                        }
                    }
                    .content-right {
                        .main-img-wrapper {
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }
}

//===== tablet =====//

/* Адаптация для экранов от 1280px до 1366px */
@media (max-width: 1365.98px) {
    .Banner {
        .Banner__wrapper {
            max-width: 90%;
            .Banner__container {
                padding: 2.5rem 0;
                .Banner__Content {
                    gap: 1rem;
                    .content-left {
                        .description {
                            font-size: 0.875rem;
                            margin-bottom: 0.75rem;
                        }
                        .title {
                            max-width: 620px;
                            font-size: 3rem;
                            line-height: 1;
                            margin-bottom: 1.5rem;
                        }
                        .cta {
                            padding: 1.25rem 2.625rem;
                        }
                    }
                    .content-right {
                        .main-img-wrapper {
                            max-width: 420px;
                        }
                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 1024px до 1280px */
@media (max-width: 1279.98px) {
    .Banner {
        .Banner__wrapper {
            max-width: 95%;
            .Banner__container {
                padding: 3rem 0 3rem;
                .Banner__Content {
                    gap: 1rem;
                    flex-direction: column-reverse;
                    .content-left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -75px;
                        z-index: 200;
                        .description {
                            margin-bottom: 1rem;
                            font-size: 1.125rem;
                        }
                        .title {
                            text-align: center;
                            max-width: 700px;
                            font-size: 3.5rem;
                            line-height: 1;
                            margin-bottom: 2rem;
                        }
                        .cta {
                            font-size: 1.5rem;
                            padding: 1.75rem 3.625rem;
                        }
                    }
                    .content-right {
                        .main-img-wrapper {

                        }
                    }
                }
            }
        }
    }
}

//===== mobile =====//

/* Адаптация для экранов от 768px до 1024px */
@media (max-width: 1023.98px) {
    .Banner {
        .Banner__wrapper {
            width: 100%;
            padding: 0 1rem;
            .Banner__container {
                padding: 3rem 0 3rem;
                .Banner__Content {
                    gap: 1rem;
                    flex-direction: column-reverse;

                    .content-left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -100px;
                        z-index: 200;
                        .description {
                            margin-bottom: 1rem;
                            font-size: 1rem;
                        }
                        .title {
                            text-align: center;
                            max-width: 700px;
                            font-size: 3.5rem;
                            line-height: 1;
                            margin-bottom: 2rem;
                        }
                        .cta {
                            font-size: 1.5rem;
                            padding: 1.5rem 3.125rem;
                        }
                    }
                    .content-right {
                        .main-img-wrapper {
                            max-width: 450px;
                        }
                    }
                }
            }
        }
    }
}

/* Адаптация для экранов от 414px до 768px */
@media (max-width: 767.98px) {
    .Banner {
        .Banner__wrapper {
            width: 100%;
            padding: 0 0.5rem;
            .Banner__container {
                padding: 3rem 0 3rem;
                .Banner__Content {
                    gap: 1rem;
                    flex-direction: column-reverse;
                    .content-left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -120px;
                        z-index: 200;
                        .description {
                            margin-bottom: 0.5rem;
                            font-size: 0.875rem;
                        }
                        .title {
                            text-align: center;
                            font-size: 3rem;
                            max-width: 700px;
                            line-height: 0.9;
                            margin-bottom: 2rem;
                        }
                        .cta {
                            font-size: 1.5rem;
                            padding: 1.25rem 2.625rem;
                        }
                    }
                    .content-right {
                        .main-img-wrapper {
                        }
                    }
                }
            }
        }
    }
}